html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    background-color: black;
    scroll-padding-top: 100px;
}

/* HERO SECTION */
.hero-container {
    height: 600px;
    position: relative;
    text-align: center;
    width:100%;
    border-radius: 0px;
    overflow: hidden;
}

.hero-container video {
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: 50% 0%;
}

.hero-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.2) 0%,
    rgba(0,0,0,1) 100%
    );
    pointer-events: none; 
    z-index: 1;
}

.hero-text {
    display: flex;
    position: relative;
    z-index: 2;
    
    justify-content: center;
    font-family: Poiret One;
    font-weight: bolder;
    color: white;

    text-align: center;
    margin: auto 0;
    bottom: 80%;
    padding-left: 0px;
    transform: translateY(-30%);
}

.hero-desc {
    padding-top: 5%;
    position: relative;
}


/* MAIN SECTION */
.main-container {
    position: relative;
    height: 600px;
    width: 100%;
    background-color: black;
    
    align-content: center;
    font-family: Poiret One;
    font-weight: bold;
    color: white;
}

.main-container span {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    transform: translateY(-125%);
}

.main-text {
    display: flex;
    position: relative;
    z-index: 2;
    
    justify-content: center;
    font-family: Poiret One;
    font-weight: bolder;
    color: white;

    text-align: center;
    margin: auto 0;
    bottom: 75%;
    transform: translateY(-50%);
    padding-left: 0px;

}

.skills-table {
    position: relative;
    margin: 0 auto;
    transform: translateY(-400%);
    z-index: 3;
    font-family: Poiret One;
    font-weight: normal;
    text-align: center;
    padding-left: 0px;
}

.skills-table th, tr {
    padding: 10px 20px;
}

/* || NAVIGATION BAR || */

/* <nav-bar> class is used across each web page
this class removes bullet points from a ul list (via list-style-type); set background colour + linear gradient to 
a dark-blueish hue; stretch navbar across the entire width of the page; and set margin and padding to 0 */
.nav-bar {
    display: flex;
    justify-content: center;
    list-style-type: none;

    background-color:rgb(0, 0, 0);
    
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poiret One;
}

.nav-overlay {
    position: sticky; 
    top: 0; 
    overflow: hidden; 
    z-index: 4;
}

/* style the font and colour of span elements in the nav-bar;
as well as setting up the colour change transition on :hover() */
.nav-span {
    display: block;
    color: white;
    text-align: center;
    padding:10px 16px;
    padding-right: -10px;
    text-decoration: none;
    font-family: Poiret One;
    font-weight:500;
    transition-duration: 250ms;
}

.nav-link:hover {
  color: grey;
}

.empty-space {
    width: 100%;
    height: 100px;
}

/* || IMAGE GRID STYLING || */

/* setup a image grid container to contain the photo cards inside of,
making sure each <article> containing photos and descriptions of the artist is automatically positioned
in a nice 3x2 set of rows */
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-right: 0vw;
  padding-left: 0vw;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  margin-top: -415px;
}

.container .card {
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/* CARD STYLING */
/* setup a photo card for the line-ups */
.card {
  /* edit size of card */
  height: 525px;
  width: 350px;
  
  /* round out photo card and add background styling*/
  border-radius: 5px;
  background-color: rgba(0,0,0 / 0);
  background-size: cover;
  border: 1.5px solid rgb(255, 255, 255);

  /* center list items, so that photo can go first, then title, desc, genre, etc... */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.25s ease;
}

/* add a popping size effect to the photo card */
.card:hover {
  transform: scale(1.025);
}

/* re-size photo instead the photo card so that it's standardised across photocards */
.card img {
  width: 200px;
  height: 250px;
  border-radius: 10px; 
  overflow: hidden;
  position: relative; 
  top: 2.5%; 
}

/* setup an artist title <h1> for the photo card */
.card header {
  font-family: Unbounded;
  color: white;
  font-size: 35px;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 22.5px;
}

/* style the description section of the photo card */
.card section {
  color: rgba(255, 255, 255, 0.653);
  font-size: 12px;
  width: 250px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 150px;
  font-family: Unbounded;
}

/* add a transition, which makes the description light up on :hover() */
.card section {
  transition-duration: 250ms;
}

.card:hover section {
  color: rgba(255, 255, 255, 0.806);
}

/* add a footer, which is basically styed like the header */
.card footer {
  color: rgba(255, 255, 255, 0.653);
  font-size: 14px;
  width: 275px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  font-family: Unbounded;
}

.contact-desc {
    position: relative;
    display: block;
    justify-content: center;
    width: 100%;
    height: 130px;
    margin: 0;
    margin-top: -250px;
}

.contact-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 0;
}

.contact-container img {
    padding-right: 25px;
    width: 30px;
    height: 30px;
    margin: auto 0;
}

.footer-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 0;
}